n8n/workflows/news-telegram-notify.json
{
  "name": "NEWS - Telegram Notify",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "news-telegram-notify",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "news-telegram-notify"
    },
    {
      "parameters": {
        "jsCode": "const headerSecret = $input.first().json.headers['x-webhook-secret'];\nconst expected = $env.N8N_WEBHOOK_SECRET;\nif (!expected || headerSecret !== expected) {\n  throw new Error('Unauthorized');\n}\nreturn $input.all();"
      },
      "id": "validate-secret",
      "name": "Validate secret",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "resource": "message",
        "operation": "sendMessage",
        "chatId": "={{ $json.body.chat_id || 7628124170 }}",
        "text": "={{ $json.body.text }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "reply_markup": "={{ JSON.stringify($json.body.reply_markup || {}) }}"
        }
      },
      "id": "send",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [680, 300],
      "credentials": {
        "telegramApi": {
          "id": "AgsIUzn5P9mxWgeT",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, message_id: $json.message_id }) }}"
      },
      "id": "respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate secret", "type": "main", "index": 0 }]] },
    "Validate secret": { "main": [[{ "node": "Send Telegram", "type": "main", "index": 0 }]] },
    "Send Telegram": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true
  }
}
