n8n/workflows/news-generate-voice.json
{
  "name": "NEWS - Generate Voice",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "news-generate-voice",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "news-generate-voice"
    },
    {
      "parameters": {
        "jsCode": "if ($input.first().json.headers['x-webhook-secret'] !== $env.N8N_WEBHOOK_SECRET) throw new Error('Unauthorized');\nreturn [{ json: $input.first().json.body }];"
      },
      "id": "auth",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "news_scripts",
        "returnAll": false,
        "limit": 1,
        "filters": {
          "conditions": [
            { "keyName": "id", "condition": "eq", "keyValue": "={{ $json.script_id }}" }
          ]
        }
      },
      "id": "get-script",
      "name": "Get script",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [680, 300],
      "credentials": { "supabaseApi": { "id": "QLeTcep8CYbXpdfG", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "url": "=https://api.elevenlabs.io/v1/text-to-speech/{{ $env.ELEVENLABS_VOICE_ID }}",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "xi-api-key", "value": "={{ $env.ELEVENLABS_API_KEY }}" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Accept", "value": "audio/mpeg" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ text: $json.script, model_id: $env.ELEVENLABS_MODEL || 'eleven_multilingual_v2', voice_settings: { stability: 0.5, similarity_boost: 0.75 } }) }}",
        "options": { "response": { "response": { "responseFormat": "file", "outputPropertyName": "data" } } }
      },
      "id": "tts",
      "name": "ElevenLabs TTS",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "url": "=https://ekcnriprnytzeqznbrmf.supabase.co/storage/v1/object/news-renders/voice/{{ $('Get script').item.json.id }}.mp3",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
          { "name": "Content-Type", "value": "audio/mpeg" },
          { "name": "x-upsert", "value": "true" }
        ]},
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "options": {}
      },
      "id": "upload",
      "name": "Upload to Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "news_renders",
        "fieldsUi": {
          "fieldValues": [
            { "fieldId": "script_id", "fieldValue": "={{ $('Get script').item.json.id }}" },
            { "fieldId": "kind", "fieldValue": "voice" },
            { "fieldId": "storage_path", "fieldValue": "=news-renders/voice/{{ $('Get script').item.json.id }}.mp3" },
            { "fieldId": "status", "fieldValue": "ready" }
          ]
        }
      },
      "id": "log-render",
      "name": "Log render",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [1340, 300],
      "credentials": { "supabaseApi": { "id": "QLeTcep8CYbXpdfG", "name": "Supabase account" } }
    },
    {
      "parameters": {
        "url": "https://n8n-automation.elitecleaningsurfaces.com/webhook/news-render-avatar",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "X-Webhook-Secret", "value": "={{ $env.N8N_WEBHOOK_SECRET }}" },
          { "name": "Content-Type", "value": "application/json" }
        ]},
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ script_id: $('Get script').item.json.id, voice_storage_path: 'news-renders/voice/' + $('Get script').item.json.id + '.mp3' }) }}",
        "options": {}
      },
      "id": "trigger-render",
      "name": "Trigger Render Avatar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1560, 300],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Validate", "type": "main", "index": 0 }]] },
    "Validate": { "main": [[{ "node": "Get script", "type": "main", "index": 0 }]] },
    "Get script": { "main": [[{ "node": "ElevenLabs TTS", "type": "main", "index": 0 }]] },
    "ElevenLabs TTS": { "main": [[{ "node": "Upload to Supabase", "type": "main", "index": 0 }]] },
    "Upload to Supabase": { "main": [[{ "node": "Log render", "type": "main", "index": 0 }]] },
    "Log render": { "main": [[{ "node": "Trigger Render Avatar", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1", "saveDataSuccessExecution": "all" }
}
